################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
Bin/
obj/
Obj/
/bin
/Bin
/obj
/Obj


